* {
  box-sizing: border-box;
  text-align: center;
}

.app {
  font-size: 24px;
  margin: 16px;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.current-player h1 {
  font-size: 18px;
  font-weight: normal;
}

.cell {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  border-width: 4px;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 8px;
  width: 40px;
}

.board {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.column-container {
  background-color: #1d53ab;
  position: relative;
}

.column-container:hover {
  background-color: none;
  cursor: pointer;
}

.drop-button {
  background-color: #1d53ab;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 8px 2px;
  text-transform: capitalize;
}

.drop-button:disabled,
.drop-button[disabled]{
  background-color: #999999;
  color: #ffffff;
  cursor: not-allowed;
}


.reset-button {
  background-color: #a62216;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 4px 16px;
  text-transform: capitalize;
}

.column {
  height: 100%;
  position: absolute;
  width: 100%;
}